<div class="container">
  <%= render partial: "users/profile_header" %>
  <div class="row justify-content-center">
    <div class="col-lg">
      <%= render partial: "requests", :collection => @slices.first, as: :user %>
    </div>
    <div class="col-lg">
      <%= render partial: "requests", :collection => @slices.second, as: :user %>
    </div>
  </div>
</div>