<div class="container-fluid mb-1">
  <div class="row">
    <div class="col-lg-10">
      <%= image_tag(comment.user.avatar.url, class: "img-fluid rounded-circle", style: "width: 30px") %>
      <%= link_to "#{comment.user.fullname}", user_path(comment.user) %>
      <%= "#{comment.content}" %>
    </div>
  </div>
</div>