<div class="container">
  <div class="row mb-3">
    <div class="col-lg">
      <div class="card profile-top">
        <div class="card-body">
          <div class="row justify-content-end">
            <div class="col-lg-2">
              <div class="profile-pic-square">
                <%= image_tag("chronicle_home_transparent.png", :class => "img-fluid") %>
              </div>
            </div>
            <div class="col-lg-10 d-flex align-items-end">
              <h3 class="card-title"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
            </div>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render partial: "posts/new_post" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render partial: "posts/post", collection: @user.posts %>
    </div>
  </div>
</div>
