<div class="container">
  <%= render partial: "profile_header" %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render partial: "posts/new_post" if @user == current_user %>
      <%= render partial: "posts/post", collection: @user.posts.order(created_at: :desc) %>
    </div>
  </div>
</div>
