<div class="container mt-3">
  <div class="row" style="color: #DEE1B6">
    <div class="col-xl">
      <h2>
        Connect with friends and the
        <br>world around you on Chronicle.
      </h2>
      <h4><%= icon('fas', 'newspaper' ) %><b> See photos and updates</b> from friends in News Feed.</h4>
      <h4><%= icon('fas', 'star' ) %><b> Share what's new</b> in your life on your Timeline.</h4>
      <h4><%= icon('fas', 'search' ) %><b> Find more</b> of what you're looking for with Chronicle Search.</h4>
    </div>
    <div class="col-xl"></div>
  </div>
</div>