// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  height: 85vh;
  background-image: url("chronicle_home_transparent.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}