.post {
  background-color: #373B44;
  border-color: #E1B866;

  .list-group-item, .card-header {
    background-color: transparent;
    border-color: #E1B866;
  }

  .form-control {
    background-color: #373B44;
    border-color: #E1B866;
  }

}