// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User show page
.profile-top {
  border-color: #73C8A9;
}

.profile-top .card-body {
  background-color: #373B44;
}

.profile-top .card-footer {
  background-color: #373B44;
  border-color: #73C8A9;
}
